h1{
	padding-top:50px;
	border-bottom: 1px solid gray;
	height:80px;
	position:relative;
}

h2{
	font:bold 15px arial;
}

span{
	font:oblique bold 10px arial;
	color:gray;
}
p1{
	font:oblique bold 10px arial;
	color: gray;
	left:0px;
	max-width:500px;
	display:block;
}
img{
	height:200px;
	width:200px;
	position:absolute;
	left:600px;
	top:50px;
	float:right;
	border-radius:100%;	
}

.header{
	font:bold 16px arial;
	padding-top:10px;
}

.genInfo{
	float:left;
	padding-left:20px;
	padding-bottom:30px;
}

.lower{
	display:block;
	margin:50px 50px 50px 50px;
	position:static;
	clear:both;
}

container{
	display:block;
	left:150px;
	max-width:400px;
	height:auto;
	padding-top:10px;
	padding-bottom:20px;
}

hd{
	font:bold 16px Arial;
	position:relative;
	float:left;
	left:0px;
	padding:25px 10px 25px 10px;
	border-right: 1px solid gray;
	width:100px;
}

info{
	margin-left:120px;
	border-left:1px solid gray;
	position: relative;
	padding:3px 10px 3px 10px;
	width:500px;
	display:block;
}

.clearfix{
	overflow:auto;
}
